<!-- Features Section -->
<section class="features">
    <div class="feature-card">
        <img src="ES.png" alt="Feature Icon" onclick="window.location.href='https://eurekasurveys.com/'" style="cursor:pointer;">
        <h3>Eureka Surveys</h3>
        <div class="platform-icons">
            <img src="android.png" alt="Android" class="small-icon" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.eureka.android&hl=en'" style="cursor:pointer;">
            <img src="iOS.png" alt="iOS" class="small-icon" onclick="window.location.href='https://apps.apple.com/us/app/eureka-earn-money-for-surveys/id1466346433'" style="cursor:pointer;">
        </div>
    </div>
    <div class="feature-card">
        <img src="SP.jpg" alt="Feature Icon" onclick="window.location.href='https://surveypop.com/'" style="cursor:pointer;">
        <h3>SurveyPop</h3>
        <div class="platform-icons">
            <img src="android.png" alt="Android" class="small-icon" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.socialloop.surveypop&hl=en'" style="cursor:pointer;">
            <img src="iOS.png" alt="iOS" class="small-icon" onclick="window.location.href='https://apps.apple.com/us/app/survey-pop-make-money-fast/id1619823218'" style="cursor:pointer;">
        </div>
    </div>
    <div class="feature-card">
        <img src="SS.png" alt="Feature Icon" onclick="window.location.href='https://surveyspin.com/'" style="cursor:pointer;">
        <h3>SurveySpin</h3>
        <div class="platform-icons">
            <img src="android.png" alt="Android" class="small-icon" onclick="window.location.href='https://play.google.com/store/apps/details?id=com.socialloop.surveyspin&hl=en'" style="cursor:pointer;">
            <img src="iOS.png" alt="iOS" class="small-icon" onclick="window.location.href='https://apps.apple.com/us/app/survey-spin-get-paid-cash/id1629477748'" style="cursor:pointer;">
        </div>
    </div>
</section>
