<section class="org-chart">
    <h2>Organizational Chart</h2>

    <div class="org-level">
        <div class="org-card">
            <a href="https://www.linkedin.com/in/kirbygee/" target="_blank">
                <img src="assets/Kirby.jpg" alt="Kirby" class="photo-placeholder">
            </a>
            <h3>Kirby</h3>
            <p>Co-owner</p>
        </div>

        <div class="org-card">
            <a href="https://www.linkedin.com/in/tfang17/?skipRedirect=true" target="_blank">
                <img src="assets/tommy.jpg" alt="Tommy" class="photo-placeholder">
            </a>
            <h3>Tommy</h3>
            <p>Co-owner</p>
        </div>
    </div>

    <div class="org-connector"></div>

    <div class="org-level">
        <div class="org-card">
            <img src="assets/Almar.png" alt="Almar" class="photo-placeholder">
            <h3>Almar</h3>
            <p>Support Head</p>
        </div>
    </div>

    <div class="org-connector"></div>

    <div class="team-grid">
        <div class="team-box">
            <h3>Cashout Team</h3>
            <ul>
                <li class="member-trigger" data-modal-target="arezModal" tabindex="0" role="button">
                    <img src="assets/Arez.png" alt="Arez" class="member-photo" data-modal-target="arezModal"> Arez
                </li>
                <li class="member-trigger" data-modal-target="jersonModal" tabindex="0" role="button">
                    <img src="assets/Jerson.png" alt="Jerson" class="member-photo" data-modal-target="jersonModal"> Jerson
                </li>
                <li class="member-trigger" data-modal-target="tristanModal" tabindex="0" role="button">
                    <img src="assets/Tristan.png" alt="Tristan" class="member-photo" data-modal-target="tristanModal"> Tristan
                </li>
            </ul>
        </div>

        <div class="team-box">
            <h3>Support Team</h3>
            <ul>
                <li class="member-trigger" data-modal-target="amoraModal" tabindex="0" role="button">
                    <img src="assets/amora.png" alt="Amora" class="member-photo" data-modal-target="amoraModal"> Amora
                </li>
                <li>
                    <a href="https://www.linkedin.com/in/arby-jann-benito-61360616b/" target="_blank">
                        <img src="assets/Arby.png" alt="Arby" class="member-photo">Arby
                    </a>
                </li>
                <li class="member-trigger" data-modal-target="fordModal" tabindex="0" role="button">
                    <img src="assets/Ford.png" alt="Ford" class="member-photo" data-modal-target="fordModal"> Ford
                </li>
                <li class="member-trigger" data-modal-target="genModal" tabindex="0" role="button">
                    <img src="assets/Gen.png" alt="Gen" class="member-photo" data-modal-target="genModal"> Gen
                </li>
                <li class="member-trigger" data-modal-target="jeanModal" tabindex="0" role="button">
                    <img src="assets/Jean.png" alt="Jean" class="member-photo" data-modal-target="jeanModal"> Jean
                </li>
            </ul>
        </div>
    </div>
</section>
